<div class="container">
  <div class="contenedor-cifrado">
    <label for="input-cifrado">INGRESA PALABRA A CIFRAR:</label>
    <input type="text" name="" id="input-cifrado">
    <br>
    <label for="input-cifrado-number">Elige la pocision:</label>
    <input type="number" name="" id="input-cifrado-number">
    <br>
    <button (click)="cifrar()">Cifrar</button>
  </div>
  <div class="contenedor-decifrado">
    <label for="input-cifrado">INGRESA PALABRA A DESCIFRAR:</label>
    <input type="text" name="" id="input-cifrado2">
    <br>
    <label for="input-cifrado-number">Elige la pocision del descifrado:</label>
    <input type="number" name="" id="input-cifrado-number2">
    <br>
    <button (click)="descifrar()">Descifrar</button>

  </div>
</div>
